.content-manages-container {
    padding: 10px;

    .select-pages-container {
        display: block;
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;
        width: 50%;
        margin-left: 25%;

    }

}