.section-Careers {
    height: 100%;

    .Careers-block {
        background-color: #ebebeb;
        display: flex;

        .Careers-content {
            flex: 1 1 50%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;

            .Careers-content-inner {
                margin: 0 0 0 100px;
                padding: 80px 30px;
                max-width: 620px;
                text-align: center;
                flex-grow: 1;

                h2 {
                    font-size: 3rem;
                    font-weight: 700;
                    line-height: 1;
                    color: #0a0a0a;
                    margin-bottom: 1.5rem;
                    font-family: 'Riot Sans Latin', Arial, sans-serif;
                    letter-spacing: -.03em;
                }

                p {
                    font-size: 1.25rem;
                    color: #656462;
                    line-height: 1.5;
                    letter-spacing: -.03em;
                    margin: 0 auto 2.5rem;
                    font-weight: 600;
                    max-width: 450px;
                }

                .Careers-jobs {
                    display: flex;
                    margin-bottom: 40px;

                    .careers__jobs__count {
                        font-size: 1.5rem;
                        padding: 20px;
                        display: block;
                        position: relative;
                        flex: 1 1 260px;
                        text-align: center;
                        background-color: rgba(173, 172, 170, .2);
                        border-radius: 8px;
                        line-height: 1.2;
                        font-weight: 700;
                        color: #656462;
                        margin-right: 24px;
                    }

                    .careers__jobs__count:hover {
                        opacity: 1;
                        color: #656462;
                    }

                    .careers__jobs__count::after {
                        border: 0;
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        content: '';
                        border-radius: 12px;
                        top: -4px;
                        left: -4px;
                        right: -4px;
                        bottom: -4px;
                        padding: 2px;
                        color: #f9f9f9;
                        display: block;
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        transition: opacity .1s ease-out;
                        z-index: 4;
                        background: conic-gradient(from var(--angle), rgba(10, 10, 10, .8), rgba(10, 10, 10, .3), #0a0a0a);
                    }

                    a {
                        text-decoration: none;

                        span {
                            display: block;
                            color: #0a0a0a;
                            font-size: 3.5rem;
                            font-weight: 700;
                        }
                    }
                }

                .button-standard {
                    display: inline-block;
                    margin-bottom: 0;
                    min-width: 260px;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 700;
                    padding: 22px 16px;
                    color: #f9f9f9;
                    background-color: #d1363a;
                    position: relative;
                    border: 0;
                    vertical-align: middle;
                    cursor: pointer;
                    overflow: visible;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 24px;
                    -webkit-font-smoothing: auto;
                    font-family: 'Inter V Latin', Arial, sans-serif;
                    letter-spacing: -.03em;
                    transition-property: color, background-color, background-position, transform;
                    transition-duration: .3s;
                    transition-timing-function: ease-out;
                }

                .button-standard::after {
                    border-radius: 28px;
                    padding: 2.5px;
                }
            }

            .careers__image {
                clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
                flex: 1 1 55%;
                height: 100%;
                width: 100%;

                picture {
                    width: 100%;
                    height: 100%;
                    max-height: 600px;
                    object-fit: cover;

                    img {
                        max-width: 100%;
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }
}