.section-Newfeed {
    height: 896px;

    &:root {
        --color-bg-gradient: rgba(255, 100, 51, 0.2);
    }

    .section-content {
        padding-top: 100px;
        padding-bottom: 100px;
        transition: all .2s ease-out;
        background: radial-gradient(circle, rgb(38, 7, 7) 0%, rgb(0, 0, 0) 100%);
        color: #f9f9f9;
        position: relative;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transform: scaleY(-1);
            background: radial-gradient(70.71% 70.71% at 50% 50%, var(--color-bg-gradient) 0, rgba(10, 10, 10, 0) 75%, rgba(10, 10, 10, 0) 100%);
        }

        .section-block {
            padding-left: 80px;
            padding-right: 80px;

            &::before,
            &::after {
                content: "";
                display: table
            }

            .section-top {
                margin-bottom: 3.75rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.5rem;

                h2 {
                    font-family: 'Riot Sans Latin', Arial, sans-serif;
                    letter-spacing: -.03em;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: inherit;
                }

                .btn-see-more {
                    font-size: 13px;
                    border-radius: 6.5px;
                    padding: .5rem .75rem;
                    min-width: auto;
                    text-transform: uppercase;
                    font-weight: 800;
                    line-height: 1;
                    text-decoration: none;
                    background-color: rgba(128, 128, 128, .2);
                    color: #f9f9f9;

                    &:hover {
                        background-color: #a0a0a0;
                    }
                }
            }

            .section-center {
                display: flex;
                margin-bottom: 0;

                .background-filter {
                    display: flex;

                    .whats-happening__hero-wrapper {
                        flex: 1 1 60%;
                        margin-right: 1.5rem;
                        margin-bottom: 0;
                        position: relative;
                        display: block;
                        transition: .15s ease-out;
                        text-decoration: none;
                        width: 800px;
                        cursor: pointer;

                        .whats-happening__hero {
                            display: block;
                            position: relative;
                            border-radius: 8px;
                            transition: .3s ease-out;
                            top: 0;
                            width: 797.29px;

                            .responsive-media {
                                box-shadow: 0 4px 4px rgba(10, 10, 10, .15);
                                border-radius: 8px;
                                position: relative;
                                transition: .3s ease-out;
                                overflow: hidden;
                                text-align: left;


                                &::before {
                                    content: '';
                                    border-radius: 8px;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                    z-index: 1;
                                    background: linear-gradient(200deg, rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, .4) 90%);
                                }

                                img {
                                    max-width: 100%;
                                    width: auto;
                                    height: auto;
                                }
                            }
                        }

                        .whats-happening__hero-content {
                            padding: 1rem 0;
                            position: relative;
                            z-index: 2;


                            h3 {
                                color: white;
                                font-family: 'Inter V Latin', Arial, sans-serif;
                                letter-spacing: -.03em;
                                font-size: 2.3rem;
                                line-height: 1.2;
                                margin-bottom: 16px;
                                font-weight: 600;
                            }
                        }

                        .whats-happening__category-wrapper {
                            display: flex;
                            column-gap: .5rem;
                            align-items: center;

                            .logo-LOL {
                                background-color: #141212;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 32px;
                                height: 32px;

                                .icon {
                                    width: 17.2px !important;
                                    height: 14.9px !important;
                                    line-height: 14.9px !important;
                                }
                            }

                            .whats-happening__category {
                                font-weight: 800;
                                text-transform: uppercase;
                                letter-spacing: -.03em;
                                font-size: .938rem;
                                color: rgba(101, 100, 98, .9);
                            }
                        }
                    }

                    .whats-happening__articles {
                        display: grid;
                        grid-template-columns: 1fr;
                        flex: 1 1 40%;
                        gap: 24px;
                        padding: 0;

                        .whats-happening__article {
                            list-style: none;
                            margin: 0;
                            box-shadow: 0 4px 4px rgba(10, 10, 10, .15);
                            border-radius: 8px;
                            background-color: rgba(128, 128, 128, .2);
                            padding: 0;
                            position: relative;
                            transition: .3s ease-out;
                            top: 0;
                            min-height: 124px;
                            cursor: pointer;

                            .whats-happening__article-card {
                                position: relative;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-radius: 8px;
                                min-height: 85px;
                                height: 100%;
                                text-decoration: none;

                                .whats-happening__article-title-wrapper {
                                    margin-right: 280px;
                                    width: 100%;
                                    padding: 1rem .5rem 1rem 1.625rem;

                                    .whats-happening__article-title {
                                        font-family: 'Inter V Latin', Arial, sans-serif;
                                        letter-spacing: -.03em;
                                    }

                                    h3 {
                                        font-size: 1.234rem;
                                        line-height: 1.4;
                                        color: #f9f9f9;
                                        font-weight: 600;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }

                                    .whats-happening__category-wrapper {
                                        display: flex;
                                        column-gap: .5rem;
                                        align-items: center;

                                        .game-badge {
                                            width: 32px;
                                            height: 32px;
                                            background-color: #141212;
                                            border-radius: 50%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;

                                            .icon {
                                                width: 17.2px !important;
                                                height: 14.9px !important;
                                                line-height: 14.9px !important;
                                                display: inline-block;
                                                vertical-align: middle;
                                                font-style: normal;
                                            }
                                        }

                                        .whats-happening__category {
                                            font-weight: 800;
                                            text-transform: uppercase;
                                            letter-spacing: -.03em;
                                            font-size: .938rem;
                                            color: rgba(101, 100, 98, .9);
                                        }
                                    }
                                }

                                .whats-happening__article-image {
                                    display: block;
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    height: 100%;
                                    background-size: cover;
                                    background-position: center;
                                    border-radius: 8px;
                                    aspect-ratio: 243 / 138;
                                }
                            }
                        }


                    }
                }
            }
        }
    }
}